@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, friend! Here's the current time:</h1>
   
    <h2>@DateTime.Now</h2> 

</div>
